*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: serif;
    color: white;
}

nav{
    background-color: #333;
    display: flex;
    position: relative;
    flex-direction: column;

}
.nav1
{
    font-size: x-large;
    padding: 16px;
}
.nav2
{ 
    background-color: #333;
    font-size: large;
    display: none;
}

ul
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav2 a
{
    padding: 12px;
}
.toggler {
    right: 28px;
    top: 18px;
    display: block;
    position: absolute;
    font-size: larger;
}
a:hover
{
    background-color: #777;
}
.active{
  display: block;
}

@media screen and (min-width:500px) {
    .nav
   {
     flex-direction: row;
     justify-content: space-between;
    
   }
   .nav1
{
    font-size: x-large;
    align-self: center;
    padding: 16px;
}

    .nav2
    {
        padding: 14px;
        display: block;
    }
    ul
     {
        flex-direction: row;
     }
    .toggler
    {
        display: none;
    }
   
} 






